In [1]:
import json
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_json('./reddit_jokes.json')
df.head()

,body,id,score,title
0,"Now I have to say ""Leroy can you please paint ...",5tz52q,1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,5tz4dd,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,5tz319,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,5tz2wj,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,5tz1pc,0,You hear about the University book store worke...

In [3]:
df.shape

(194553, 4)

In [4]:
df[df.score > 0].shape

(132992, 4)

In [5]:
df = df[df.score > 0]

In [6]:
train, test = train_test_split(df, test_size=0.2)

In [7]:
train.head()

,body,id,score,title
44422,Bob and Joe were sitting in their math class o...,4l06ec,1,Bob and Joe were sitting in their math class o...
60452,"There was a policeman who was on patrol, when ...",4a5h0p,3,Old Man and His Dog
171456,Because the service was horrible.,2b5kp5,4,Why did the Cell Tower Cafe get bad reviews?
112563,With Little Caesars!,3dhced,23,How do Mexicans cut their pizza?
145046,So I gave it to her.,2u3oig,38,She asked me for an example of a double entendre

In [8]:
train[["title", "body"]].to_json('reddit_jokes.jsonl', orient='records', lines=True)
test[["title", "body"]].to_json('reddit_jokes_validation.jsonl', orient='records', lines=True)